.container {
    position: relative;
    background-color: #999999;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.button-remove {
    position: absolute;
    top: -15px;
    right: -15px;
}

.file {
    max-width: 70px;
    max-height: 70px;
    border-radius: 5px;
    margin: 5px;
}

.file-video {
    max-width: 124px;
    max-height: 70px;
}

.file-other {
    width: 70px;
    height: 70px;
}