.container {
    position: relative;
    background-color: #999999;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.button-remove {
    position: absolute;
    top: -14px;
    right: -14px;
}

.button-remove mat-icon {
    border-radius: 20px;
    background-color: #999999;
}

.file {
    max-width: 70px;
    max-height: 70px;
    border-radius: 5px;
    margin: 5px;
}

.file-video {
    max-width: 124px;
    max-height: 70px;
}

.file-other {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}