mat-sidenav-container {
	height: 100%;
}

mat-sidenav {
  width: 256px;
}

.sidenav-header {
  margin: 10px;
}

.sidenav-title {
  margin: 0px;
}

.sidenav-subtitle {
  margin: 0px;
}

.nav-icon {
  margin: 0px 15px 0px 0px;
}

mat-sidenav-content {
  overflow: auto;
} 