<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<aside class="mdc-drawer" [ngClass]="{'mdc-drawer--modal': IsModalAvailable()}">
  <div class="mdc-drawer__header">
    <h2 style="font-family: 'Roboto', sans-serif;">TEST</h2>
    <h3 class="mdc-drawer__title">Mail</h3>
    <h6 class="mdc-drawer__subtitle">email@material.io</h6>
  </div>
  <hr class="mdc-list-divider">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <ng-template ngFor let-item [ngForOf]="items" let-isFirst="first">
        <a class="mdc-list-item" [ngClass]="{'mdc-list-item--activated': isFirst}" href="#" tabindex="-1"
          routerLink='{{ item.route }}'>
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic">{{ item.icon }}</i>
          <span class="mdc-list-item__text">{{ item.text }}</span>
        </a>
      </ng-template>
    </nav>
  </div>
</aside>

<div class="mdc-drawer-scrim"></div>