.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset;
}

.infoContainer {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
}

.infoBorder {
    min-width: 300px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    align-items: center;
    background-color: whitesmoke;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}

.info {
    width: 100%;
}

.separator {
    align-self: center;
    margin: 5px 0px 5px 0px;
}

button {
    margin: 5px 0px 5px 0px;
}

.mat-card-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 15px 0px;
    background-color: whitesmoke;
    color: darkred;
    border-radius: 10px;
    font-size: 15px;
}

