<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <img src="../../../../assets/logo.png" class="logo">
        <div *ngIf="errorMessage" class="mat-card-error">
            {{ errorMessage }}
        </div>
        <div class="infoContainer">
            <mat-form-field appearance="outline">
                <mat-label>Nazwa użytkownika</mat-label>
                <input matInput formControlName="nickname" (focus)="showNicknameInfo()" (blur)="clearInfo()">
            </mat-form-field>
            <div class="infoBorder" *ngIf="nicknameInfo">
                <p class="info">{{ nicknameInfo }}</p>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Adres email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <div class="infoContainer">
            <mat-form-field appearance="outline">
                <mat-label>Hasło</mat-label>
                <input matInput formControlName="password" (focus)="showPasswordInfo()" (blur)="clearInfo()">
            </mat-form-field>
            <div class="infoBorder" *ngIf="passwordInfo">
                <p class="info">{{ passwordInfo }}</p>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput formControlName="confirmPassword">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!validForm()">
            Zarejestruj się
            <mat-icon>login</mat-icon>
        </button>
    </form>
</div>