<div class="file">
     <a (click)="openOverlay(MessageFile)">
      <img *ngIf="MessageFile.type.includes('image/') && MessageFile.type !== 'image/gif'" 
            [src]="url + MessageFile.thumbnailName"
            [matTooltip]="MessageFile.fileName"
            matTooltipPosition="above">
    </a>
    <a (click)="openOverlay(MessageFile)">
      <img *ngIf="MessageFile.type === 'image/gif'" 
            [src]="url + MessageFile.sourceName"
            [matTooltip]="MessageFile.fileName"
            matTooltipPosition="above">
    </a>
    <div *ngIf="MessageFile.type.includes('text/')" 
          class="file-other-container"
          [matTooltip]="MessageFile.fileName"
          matTooltipPosition="above"
          (click)="downloadFile(MessageFile)">
          <div class="background">
            <mat-icon>description</mat-icon>
            <div class="filename">
                  {{ MessageFile.fileName }}
            </div>
          </div>
    </div>
    <a (click)="openOverlay(MessageFile)">
      <video *ngIf="MessageFile.type.includes('video/')" 
                  [matTooltip]="MessageFile.fileName"
                  matTooltipPosition="above"
                  autoplay>
            <source [src]="url + MessageFile.sourceName" [type]="MessageFile.type">
      </video>
    </a>
</div>