<div class="file">
     <a (click)="openOverlay(MessageFile)">
      <img *ngIf="MessageFile.type.includes('image/') && MessageFile.type !== 'image/gif'" 
            [src]="url + MessageFile.thumbnailName"
            [matTooltip]="MessageFile.fileName"
            matTooltipPosition="above">
    </a>
    <a (click)="openOverlay(MessageFile)">
      <img *ngIf="MessageFile.type === 'image/gif'" 
            [src]="url + MessageFile.sourceName"
            [matTooltip]="MessageFile.fileName"
            matTooltipPosition="above">
    </a>
    <img *ngIf="MessageFile.type.includes('text/')" 
          src="./assets/file_icon.png"
          class="file-other"
          [matTooltip]="MessageFile.fileName"
          matTooltipPosition="above"
          (click)="downloadFile(MessageFile)">
    <video *ngIf="MessageFile.type.includes('video/')" 
            controls
            [matTooltip]="MessageFile.fileName"
            matTooltipPosition="above">
        <source [src]="url + MessageFile.sourceName" [type]="MessageFile.type">
    </video>
</div>