.file {
    position: relative;
    display: flex;
    margin: 5px;
    max-height: 100px;
    max-width: 170px;
    justify-content: center;
}

img, video, .file-other-container {
    max-height: 90px;
    max-width: 160px;
    cursor: pointer;
}

.file:hover .file-name {
    display: flex;
}

.file, img, video {
    border-radius: 10px;
}

.file-other-container {
    display: flex;
}

.background {
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}

.filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

a {
    display: flex;
}