.container {
    width: 100%;
    height: 100%;
}

.container-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    overflow: auto;
}

table {
    width: 100%;
    min-width: 1000px;
}

td.mat-column-action {
    width: 80px;
  }

.filter-container {
    padding-top: 10px;
    margin: 0px 10px 5px 10px;
}

.input-search-form {
    width: 500px;
}

@media only screen and (max-width: 768px) {
    .input-search-form {
        width: 100%;
    }
}