<div class="wrapper">
    <div class="container">
        <mat-card>
            <mat-card-title>{{ nickname }}</mat-card-title>
            <mat-card-content>
                <p *ngIf="user?.firstName; else nameExists">
                    Imię: {{user.firstName}}
                </p>
                <ng-template #nameExists>
                    <p>Imię: <i>brak</i></p>
                </ng-template>
                <p *ngIf="user?.lastName; else lastNameExists">
                    Nazwisko: {{user.lastName}}
                </p>
                <ng-template #lastNameExists>
                    <p>Nazwisko: <i>brak</i></p>
                </ng-template>
                <p *ngIf="user?.birthDate; else dateExists">
                    Data urodzenia: {{user.birthDate | date:'dd.MM.yyyy'}}
                </p>
                <ng-template #dateExists>
                    <p>Data urodzenia: <i>brak</i></p>
                </ng-template>
                <p *ngIf="user?.city; else cityExists">
                    Miasto: {{user.city}}
                </p>
                <ng-template #cityExists>
                    <p>Miasto: <i>brak</i></p>
                </ng-template>
            </mat-card-content>
            <mat-card-actions *ngIf="nickname == authUser?.nickname">
                <button mat-icon-button id="userEdit" (click)="userEditOpenModal()">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>O mnie</mat-card-title>
            <mat-card-content>
                <p *ngIf="user?.description; else descriptionExists">
                    {{user.description}}
                </p>
                <ng-template #descriptionExists>
                    <p><i>brak</i></p>
                </ng-template>
            </mat-card-content>
            <mat-card-actions *ngIf="nickname == authUser?.nickname">
                <button mat-icon-button id="aboutMeEdit" (click)="aboutMeEditOpenModal()">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="nickname == authUser?.nickname">
            <mat-card-title>Konto</mat-card-title>
            <mat-card-content class="account-card-content">
                <button mat-raised-button color="primary" class="account-button"
                        id="changeNickname" (click)="changeNicknameOpenModal()">Zmień nazwę użytkownika</button>
                <button mat-raised-button color="primary" class="account-button"
                        id="changeEmail" (click)="changeEmail()">Zmień adres email</button>
                <button mat-raised-button color="primary" class="account-button"
                        id="changePassword" (click)="changePassword()">Zmień hasło</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>