.container {
	width: 800px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

mat-card {
	margin: 10px;
}

mat-card-title {
	margin-bottom: 16px;
}

.form-group {
	display: flex;
	flex-direction: row;
	margin-top: 3px;
	align-items: center;
}

.form-control {
	font-size: 16px;
}

.custom-divider {
	position: unset !important;
	margin: 5px 0px 5px 0px;
}

p {
	margin: 5px 0px 5px 0px;
    font-size: 15px;
	white-space: pre-line;
}

.account-card-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.account-button {
	width: 100%;
	margin: 0px 5px 0px 5px;
}

.user-edit-form-input {
	margin: 5px 0px 5px 0px;
}

.input-field {
	width: 100%;
}

@media only screen and (min-width: 1200px) {
	.wrapper {
		display: flex;
		width: 100%;
		justify-content: center;
	}
}

@media only screen and (max-width: 1199px) {
	.container {
		width: unset;
	}

	.account-card-content {
		flex-direction: column;
	}

	.account-button {
		margin: 5px;
	}
  }