html {
    height: calc(100% - 64px);
	overflow: hidden;
    background-color: whitesmoke;
}

app-root {
	display: block;
	height: 100%;
}

body {
    margin: 0px;
    height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
}

.snackbar-width {
    max-width: unset !important;
}

.snackbar-error {
	background-color: darkred !important;
	color: whitesmoke !important;
}

.snackbar-success {
    background-color: darkgreen !important;
    color: whitesmoke !important;  
}

.full-height {
    height: 100%;
}

.blurry-background {
    height: 100%; 
    filter: blur(1px) brightness(.7);
}

.blocked-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.blocked-background-content {
    position: absolute;
    color: #ff1a1a;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 15px 25px 15px 25px;
    border-radius: 10px 20px 10px 20px;
    border: solid 2px;
    border-color: gray;
    margin: 20px;
}

@media only screen and (max-width: 768px) {
	html {
		height: calc(100% - 56px);
	}
}