@use "@material/list";

@include list.core-styles;

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	//margin: 5px 0px 0px 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
