<div class="wrapper">
    <div class="container">
        <div *ngIf="user?.isBlocked">
            <mat-card>
                <mat-card-content class="blocked-account-info">To konto zostało zablokowane.</mat-card-content>
            </mat-card>
        </div>
        <mat-card>
            <mat-card-title>
                <div class="title-container">
                    {{ nickname }}
                    <div *ngIf="user?.role === 'ADMINISTRATOR'" class="badge badge-admin">
                        ADMINISTRATOR
                    </div>
                    <div *ngIf="user?.role === 'MODERATOR'" class="badge badge-mod">
                        MODERATOR
                    </div>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="form-group">
                    <div class="form-label">
                        Imię
                    </div>
                    <div class="form-control">
                        <div *ngIf="user?.firstName; else nameExists">
                            {{user.firstName}}
                        </div>
                        <ng-template #nameExists>
                            <i>brak</i>
                        </ng-template>
                    </div>
                </div>
                <mat-divider class="custom-divider"></mat-divider>
                <div class="form-group">
                    <div class="form-label">
                        Nazwisko
                    </div>
                    <div class="form-control">
                        <div *ngIf="user?.lastName; else lastNameExists">
                            {{user.lastName}}
                        </div>
                        <ng-template #lastNameExists>
                            <i>brak</i>
                        </ng-template>
                    </div>
                </div>
                <mat-divider class="custom-divider"></mat-divider>
                <div class="form-group">
                    <div class="form-label">
                        Data urodzenia
                    </div>
                    <div class="form-control">
                        <div *ngIf="user?.birthDate; else dateExists">
                            {{user.birthDate | UTCDateConverter | date:'dd.MM.yyyy'}}
                        </div>
                        <ng-template #dateExists>
                            <i>brak</i>
                        </ng-template>
                    </div>
                </div>
                <mat-divider class="custom-divider"></mat-divider>
                <div class="form-group">
                    <div class="form-label">
                        Miasto
                    </div>
                    <div class="form-control">
                        <div *ngIf="user?.city; else cityExists">
                            {{user.city}}
                        </div>
                        <ng-template #cityExists>
                            <i>brak</i>
                        </ng-template>
                    </div>
                </div>
                <mat-divider class="custom-divider"></mat-divider>
            </mat-card-content>
            <mat-card-actions *ngIf="nickname === authUser?.nickname">
                <button mat-icon-button id="userEdit" (click)="userEditOpenDialog()" [disabled]="disabledChangeUserDataButton">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>O mnie</mat-card-title>
            <mat-card-content>
                <div class="form-control">
                    <p *ngIf="user?.description; else descriptionExists">
                        {{user.description}}
                    </p>
                    <ng-template #descriptionExists>
                        <p><i>brak</i></p>
                    </ng-template>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="nickname === authUser?.nickname">
                <button mat-icon-button id="aboutMeEdit" (click)="aboutMeEditOpenDialog()" [disabled]="disabledChangeAboutMeButton">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="nickname === authUser?.nickname">
            <mat-card-title>Konto</mat-card-title>
            <mat-card-content class="account-card-content">
                <button mat-raised-button color="accent" class="account-button"
                        id="changeNickname" (click)="changeNicknameOpenDialog()" [disabled]="disabledChangeNicknameButton">Zmień nazwę użytkownika</button>
                <button mat-raised-button color="accent" class="account-button"
                        id="changeEmail" (click)="changeEmail()" [disabled]="disabledChangeEmailButton">Zmień adres email</button>                        
                <button mat-raised-button color="accent" class="account-button"
                        id="changePassword" (click)="changePassword()" [disabled]="disabledChangePasswordButton">Zmień hasło</button>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="nickname !== authUser?.nickname && user?.role === 'USER' && authUser?.role === 'MODERATOR'">
            <mat-card-title>Konto</mat-card-title>
            <mat-card-content class="account-card-content">
                <button *ngIf="!user?.isBlocked; else isBlocked"
                        mat-raised-button color="accent" class="account-button"
                        id="blockUser" (click)="blockUserOpenDialog()" [disabled]="disabledBlockButton">Zablokuj</button>
                <ng-template #isBlocked>
                    <button mat-raised-button color="accent" class="account-button"
                            id="unblockUser" (click)="unblockUserOpenDialog()" [disabled]="disabledUnblockButton">Odblokuj</button>
                </ng-template>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="nickname !== authUser?.nickname && authUser?.role === 'ADMINISTRATOR'">
            <mat-card-title>Konto</mat-card-title>
            <mat-card-content class="account-card-content">
                <button mat-raised-button color="accent" class="account-button"
                        id="changeRole" (click)="changeRoleOpenDialog()" [disabled]="disabledChangeRoleButton">Zmień role</button>
                <button *ngIf="!user?.isBlocked; else isBlocked"
                        mat-raised-button color="accent" class="account-button"
                        id="blockUser" (click)="blockUserOpenDialog()" [disabled]="disabledBlockButton">Zablokuj</button>
                <ng-template #isBlocked>
                    <button mat-raised-button color="accent" class="account-button"
                            id="unblockUser" (click)="unblockUserOpenDialog()" [disabled]="disabledUnblockButton">Odblokuj</button>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>