.messageContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.topContainer {
    display: flex;
    align-items: baseline;
}

.nickname {
    text-decoration: none;
    margin-right: 7px;
    font-size: 16px;
}

.date {
    text-transform: lowercase;
}

.msg {
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 16px;
}