<div class="message-container" *ngIf="LeftDirection; else RightDirection">
    <div>
        <a routerLink="/user/{{Message?.nickname}}" 
            class="nickname">
            {{ Message?.nickname }}
        </a>
        <i class="date">{{ Message?.sendTimeStr }}</i>
    </div>
    <div class="msg">
        {{ Message?.message }}
    </div>
</div>
<ng-template #RightDirection>
    <div class="message-container message-container-right">
        <div class="top-container-right">
            <i class="date">{{ Message?.sendTimeStr }}</i>
            <a routerLink="/user/{{Message?.nickname}}" 
                class="nickname">
                {{ Message?.nickname }}
            </a>      
        </div>
        <div class="msg msg-right">
            {{ Message?.message }}
        </div>
    </div>
</ng-template>
