.message-container {
    margin: 15px;
    max-width: 60%;
}

.top-container-right {
    text-align: end;
}

.message-container-right {
    float: right;
}

.nickname {
    text-decoration: none;
    font-size: 16px;
}

.date {
    text-transform: lowercase;
    margin: 0px 7px 0px 7px;
}

.msg {
    display: inline-flex;
    word-wrap: anywhere;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.msg-right {
    float: right;
}

@media only screen and (max-width: 768px) {
    .msg {
        max-width: unset;
    }
}