<div *ngIf="messageFile">
    <div class="background"></div>
    <div class="top-bar-background"></div>
    <div class="container">
        <div class="top-bar">
            <div class="filename-container">
                {{ messageFile?.fileName }}
            </div>
            <div class="buttons-container">
                <button mat-flat-button color="primary" (click)="downloadFile(messageFile)">
                    Pobierz
                    <mat-icon>download</mat-icon>
                </button>
                <button mat-flat-button color="primary" (click)="closeOverlay()">
                    Zamknij
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="file-content">
            <img *ngIf="messageFile?.type.includes('image/')" [src]="url + messageFile?.sourceName">
            <video *ngIf="messageFile?.type.includes('video/')" controls>
                <source [src]="url + messageFile?.sourceName" [type]="messageFile?.type">
            </video>
        </div>
    </div>
</div>
