<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img src="../../../../assets/logo.png" class="logo">
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>
        <label class="mdc-text-field mdc-text-field--outlined" id="emailField">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Adres email</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" formControlName="email" class="mdc-text-field__input">
        </label>
        <label class="mdc-text-field mdc-text-field--outlined" id="passwordField">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Hasło</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="password" formControlName="password" class="mdc-text-field__input">
        </label>
        <!-- TODO: zrobic widok do resetowania hasła -->
        <a href="https://www.google.com">Nie pamiętam hasła</a>
        <button class="mdc-button mdc-button--raised" type="submit" [disabled]="!loginForm.valid">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Zaloguj się</span>
            <i class="material-icons mdc-button__icon">login</i>
        </button>
        <span class="separator">lub</span>
        <button type="button" class="mdc-button mdc-button--raised" id="registerButton" (click)="navigateToRegistrationPage()">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Zarejestruj się</span>
        </button>
    </form>
</div>