.container {
	height: 100%;
	overflow: auto;
}
  
table {
	width: 100%;
}

.mat-column-maxPeople, .mat-column-currentPeople {
	width: 100px;
	text-align: end;
}

tr.select-row:hover {
	background: whitesmoke;
}
  
tr.select-row:active {
	background: #efefef;
}