.container {
	height: 100%;
	overflow: auto;
}
  
table {
	width: 100%;
}

.mat-column-maxPeople, .mat-column-currentPeople {
	width: 100px;
	text-align: end;
}

.mat-column-action {
	width: 120px;
	text-align: center;
}

.admin-action-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px;
}