.container {
	height: 100%;
	overflow: auto;
}
  
table {
	width: 100%;
}

.mat-column-accessibility {
	width: 100px;
	text-align: end;
}

.mat-column-action {
	width: 80px;
	padding-left: 20px;
}

.admin-action-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px;
}