<div class="container">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <img src="../../../../assets/logo.png" class="logo">
        <mat-card *ngIf="infoMessage" class="panel panel-info">
            <div>{{ infoMessage }}</div>
        </mat-card>
        <mat-card *ngIf="successMessage" class="panel panel-success">
            <div>{{ successMessage }}</div>
        </mat-card>
        <mat-card *ngIf="errorMessage" class="panel panel-error">
            <p *ngIf="errorMessage == 'Konto nie zostało jeszcze potwierdzone.' else confirmed">
                {{ errorMessage }}
                <br>
                Wyślij link potwierdzający <a class="resend" (click)="resendConfirmationEmail()">jeszcze raz</a>.
            </p>
            <ng-template #confirmed>
                {{ errorMessage }}
            </ng-template>
        </mat-card>
        <mat-form-field appearance="outline">
            <mat-label>Adres email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <a [routerLink]="['/security/password/forgot']">Nie pamiętasz hasła?</a>
        <button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid">
            Zaloguj się
            <mat-icon>login</mat-icon>
        </button>
        <span class="separator">lub</span>
        <button mat-raised-button color="primary" (click)="navigateToSignUpPage()">
            Zarejestruj się
        </button>
    </form>
</div>