.forgot-password {
    color: #4560a1;
    margin: 0px 0px 5px 0px;
    text-align: end;
}

label {
    margin: 5px 0px 5px 0px;
}

.separator {
    align-self: center;
    margin: 5px 0px 5px 0px;
}

.resend {
    cursor: pointer;
    color: blue;
}