.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

mat-card-header {
    justify-content: center;
}

.field {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset;
}

button {
    width: 100%;
}

.mat-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 15px 0px;
    background-color: whitesmoke;
    color: darkgreen;
    border-radius: 10px;
    font-size: 15px;
}

.mat-card-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 15px 0px;
    background-color: whitesmoke;
    color: darkred;
    border-radius: 10px;
    font-size: 15px;
}