<div class="container" *ngIf="!showSpinner; else showSpinnerTemplate">
    <div class="app-title">
        ChatTogether
    </div>
    <div>
        <div *ngIf="successMessage" class="panel panel-success">
            {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="panel panel-error">
            {{ errorMessage }}
        </div>
        <div class="content">
            <form [formGroup]="forgotPasswordForm" class="security-form" (ngSubmit)="onSubmit()">
                <div class="title">
                    Zresetuj hasło
                </div>
                <div>
                    Podaj adres email konta, do którego nie pamiętasz hasła.<br>Na podany adres zostanie wysłany link do
                    zmiany hasła.
                </div>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Adres email</mat-label>
                    <input matInput formControlName="email" autocomplete="off">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">
                    Wyślij link
                    <mat-icon>send</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>
<ng-template #showSpinnerTemplate>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>