<div class="container">
    <div class="app-title">
        ChatTogether
    </div>
    <div class="content">
        <form [formGroup]="forgotPasswordForm" class="security-form" (ngSubmit)="onSubmit()">
            <div class="title">
                Zresetuj hasło
            </div>
            <mat-card *ngIf="infoMessage" class="panel panel-info">
                <div>{{ infoMessage }}</div>
            </mat-card>
            <mat-card *ngIf="successMessage" class="panel panel-success">
                {{ successMessage }}
            </mat-card>
            <mat-card *ngIf="errorMessage" class="panel panel-error">
                {{ errorMessage }}
            </mat-card>
            <div>
                Podaj adres email konta, do którego nie pamiętasz hasła.<br>Na podany adres zostanie wysłany link do
                zmiany hasła.
            </div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Adres email</mat-label>
                <input matInput formControlName="email" autocomplete="off">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">
                Wyślij link
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>