.content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.field {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

button {
    width: 100%;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .content {
        margin: 10px;
    }
}