<div class="container" *ngIf="!showSpinner; else showSpinnerTemplate">
    <div class="app-title">
        ChatTogether
    </div>
    <div>
        <div *ngIf="errorMessage" class="panel panel-error">
            {{ errorMessage }}
        </div>
        <div class="content">
            <form [formGroup]="changePasswordForm" class="security-form" (ngSubmit)="onSubmit()">
                <div class="title">
                    Zresetuj hasło
                </div>

                <div class="infoField">
                    Podaj nowe hasło do swojego konta.
                </div>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Nowe hasło</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">
                    Zmień hasło
                    <mat-icon>send</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>
<ng-template #showSpinnerTemplate>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>