.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-content: center;
}

.infoField {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

mat-card-header {
    justify-content: center;
}

.field {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset;
}

button {
    width: 100%;
    margin-top: 5px;
}