<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container">
    <div class="content">
        <p><b>Zresetuj hasło</b></p>
        <div *ngIf="infoMessage" class="infoMessage">
            <div>{{ infoMessage }} Możesz sie już <a [routerLink]="['security/signin']"> zalogować</a>.</div>
        </div>
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>
        <div class="fromGroup">
            <div class="infoField">
                Podaj nowe hasło do swojego konta.
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <label class="mdc-text-field mdc-text-field--outlined" id="passwordField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Nowe hasło</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="password" formControlName="password" class="mdc-text-field__input">
                </label>
                <button class="button mdc-button mdc-button--raised" type="submit" id="send"
                    [disabled]="!changePasswordForm.valid">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Zmień hasło</span>
                    <i class="material-icons mdc-button__icon">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
<p>{{ email }}</p>
<p>{{ token }}</p>
