<div class="container">
    <div class="content">
        <mat-card *ngIf="infoMessage" class="mat-card-info">
            <div>
                {{ infoMessage }} Możesz sie już <a [routerLink]="['security/signin']">zalogować</a>.
            </div>
        </mat-card>
        <mat-card *ngIf="errorMessage" class="mat-card-error">
            {{ errorMessage }}
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Zresetuj hasło</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="infoField">
                    Podaj nowe hasło do swojego konta.
                </div>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Nowe hasło</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">
                        Zmień hasło
                        <mat-icon>send</mat-icon>
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>