<div class="container" *ngIf="user; else loginPage">
  <app-topbar></app-topbar>
  <app-sidebar [user]="user" [items]="siderbarItems"></app-sidebar>
  <div *ngIf="blockedBackground?.show" class="blocked-background">
    <div class="blocked-background-message">
      {{ blockedBackground.message }}
    </div>
  </div>
</div>
<ng-template #loginPage>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <router-outlet></router-outlet>
</ng-template>