<div class="container" *ngIf="user; else loginPage">
  <app-message-file-overlay></app-message-file-overlay>
  <div *ngIf="blockedBackground?.show" class="blocked-background">
    <div class="blocked-background-content">
      {{ blockedBackground.message }}
    </div>
  </div>
  <div [ngClass]="blockedBackground?.show === true ? 'blurry-background' : 'full-height'"> 
    <app-topbar></app-topbar>
    <app-sidebar [user]="user" [items]="siderbarItems"></app-sidebar>
  </div>
</div>
<ng-template #loginPage>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <div class="unathentication-content">
    <router-outlet></router-outlet>
    <div class="footer">
      © 2021 Maciej Rokicki. Wszelkie prawa zastrzeżone.
    </div>
  </div>
</ng-template>