.container {
	display: grid;
	grid-template-columns: 256px auto;
	grid-template-rows: 64px auto;
	height: 100%;
}

.topbar {
	grid-column-start: 1;
	grid-column-end: 3;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	overflow: auto;
	margin: 5px;
}

.item {
	min-width: 317.2px;
	min-height: 200px;
	margin: 5px;
	text-align: center;
	background-color: green;
	flex-grow: 1;
}

@media only screen and (max-width: 767px) {
    .container {
        grid-template-columns: auto;
    }

	.topbar {
		grid-column-start: 0;
		grid-column-end: 1;
	}

	.sidebar {
		grid-row-start: 0;
		grid-row-end: 1;
	}
  }

  @media only screen and (max-width: 599px) {
    .container {
		grid-template-rows: 56px auto;
    }
  }