.messageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    height: 100%;
    border-radius: 20px 0px 0px 0px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.messagesContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: stretch;
}

.messageInput {
    min-height: 60px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 0px 5px 0px;
}

.form-field {
    width: 100%;
    margin: 0px 0px 0px 10px;
}

::ng-deep .mat-form-field-wrapper {
    width: 100%;
}

.sendButton {
    margin: 10px 10px 10px 5px;
}

.scrollDownButton {
    position: absolute;
    align-self: center;
    bottom: 70px;
}

.scrollDownButton-hide {
    display: none;
}

.left {
    align-self: flex-start;
    border-radius: 5px 25px 25px 25px;
}

.right {
    align-self: flex-end;
    border-radius: 25px 5px 25px 25px;
}

@media only screen and (max-width: 768px) {
    .messages {
        margin: 0px;
        border-radius: 0px;
    }

    .messageInput {
        border-radius: 0px;
    }
}