<div class="messageContainer">
    <div class="messages">
        <div #scroll class="messagesContent">
            <div *ngIf="noMessages" class="noMessagesContainer">
                <p>Trochę tu pusto :(</p>
                <p>Napisz coś!</p>
            </div>
            <div *ngIf="outOfMessages">
                <div class="outOfMessagesContent">
                    <p>To już koniec, dalej już nic nie ma :(</p>
                </div>
            </div>
            <app-message *ngFor="let message of messages" [Message]="message"
                [LeftDirection]="userNickname !== message.nickname">
            </app-message>
                <button mat-mini-fab color="primary" 
                    [ngClass]="{'scrollDownButton-hide': !showScrollDownButton, 'scrollDownButton': showScrollDownButton}"
                    (click)="scrollDown()">
                    <mat-icon>south</mat-icon>
                </button>
        </div>
    </div>
    <form class="messageInputForm" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <input class="messageInput" formControlName="message" autocomplete="off" type="text" placeholder="Aa" required color="accent">
        <button mat-icon-button color="primary" class="sendButton" [disabled]="!messageForm.valid">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>