<div class="message-container">
    <div class="messages">
        <div #scroll class="messagesContent messages-content">
            <div *ngIf="noMessages" class="no-messages-container">
                <p>Trochę tu pusto :(</p>
                <p>Napisz coś!</p>
            </div>
            <div *ngIf="outOfMessages">
                <div class="out-of-messages-content">
                    <p>To już koniec, dalej już nic nie ma :(</p>
                </div>
            </div>
            <app-message *ngFor="let message of messages" [Message]="message"
                [LeftDirection]="userNickname !== message.nickname">
            </app-message>
                <button mat-mini-fab color="primary" 
                    [ngClass]="{'scroll-down-button-hide': !showScrollDownButton, 'scroll-down-button': showScrollDownButton}"
                    (click)="scrollDown()">
                    <mat-icon>south</mat-icon>
                </button>
        </div>
    </div>
    <form class="message-input-container" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="message-input">
            <input class="input-field" formControlName="message" autocomplete="off" type="text" placeholder="Aa" required>
            <button mat-icon-button color="accent" class="send-button" [disabled]="!messageForm.valid">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>