@mixin room-component-theme($theme) {
	$config: mat-get-color-config($theme);
    $room-messages: map-get($config, room-messages);
	$room-message-input: map-get($config, room-message-input);
    $room-message-input-hover: map-get($config, room-message-input-hover);
    $room-message-info: map-get($config, room-message-info);
    $room-files-container: map-get($config, room-files-container);

    .messages {
        background-color: mat-color($room-messages);
    }

    .message-input {
        background-color: mat-color($room-message-input);
    }

    .message-input:hover {
        background-color: mat-color($room-message-input-hover);
    }

    .messages p {
        color: mat-color($room-message-info);
    }

    .files-container {
        background-color: mat-color($room-files-container);
    }
}