<div *ngIf="showOnDragOverMessageContainerInfo" 
      class="dropzone"
      (drop)="onDropMessageContainer($event)">
    Upuść pliki tutaj
</div>
<div class="message-container"
     [ngClass]="{'blurred-background': showOnDragOverMessageContainerInfo}">
    <div class="messages">
        <div #scroll class="messages-content">
            <div *ngIf="noMessages" class="no-messages-container">
                <p>Trochę tu pusto :(</p>
                <p>Napisz coś!</p>
            </div>
            <div *ngIf="outOfMessages">
                <div class="out-of-messages-content">
                    <p>To już koniec, dalej już nic nie ma :(</p>
                </div>
            </div>
            <app-message *ngFor="let message of messages" [Message]="message"
                [LeftDirection]="userNickname != message.nickname">
            </app-message>
            <button mat-mini-fab color="primary" 
                [ngClass]="{'scroll-down-button-hide': !showScrollDownButton, 
                            'scroll-down-button': showScrollDownButton,
                            'scroll-down-button-with-files': showScrollDownButton && filesToUpload.files.length > 0 }"
                (click)="scrollDown()">
                <mat-icon>south</mat-icon>
            </button>
        </div>
    </div>
    <div class="files-container" *ngIf="filesToUpload.files.length > 0">
        <div class="files-content">
            <app-message-file-to-upload *ngFor="let file of filesToUpload.files" [file]="file" (removeFile)="removeFile($event)"></app-message-file-to-upload>
        </div>
    </div>
    <form class="message-input-container" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="message-input">
            <input class="input-field" formControlName="message" autocomplete="off" type="text" placeholder="Aa" required>
            <input id="input-file" accept="text/plain, image/*, video/*" type="file" multiple (change)="onFileAddFromFileBrowser($event)"/>
            <button mat-icon-button type="button" color="accent" class="send-button" (click)="openFileBrowser()">
                <mat-icon>image</mat-icon>
            </button>
            <button mat-icon-button color="accent" class="send-button" [disabled]="!validMessageForm()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>