.messageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    height: 100%;
    border-radius: 20px 0px 0px 0px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.messagesContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: stretch;
}

.messageInputForm {
    min-height: 60px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.messageInput {
    width: 100%;
    height: 35px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    border: unset;
    border-radius: 10px;
    outline-style: solid;
    outline-color: #b4bbe4;
    font-size: 16px;
}

.messageInput:hover {
    outline-style: solid;
    outline-color: #6877ca;
}

.messageInput:focus {
    outline: unset;
    outline-style: solid;
    outline-color: #3f51b5;
}

.sendButton {
    margin: 10px 10px 10px 5px;
}

.scrollDownButton {
    position: absolute;
    align-self: center;
    bottom: 70px;
}

.scrollDownButton-hide {
    display: none;
}

.left {
    align-self: flex-start;
    border-radius: 5px 25px 25px 25px;
}

.right {
    align-self: flex-end;
    border-radius: 25px 5px 25px 25px;
}

@media only screen and (max-width: 768px) {
    .messages {
        margin: 0px;
        border-radius: 0px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 768px) {
    .messageInputForm {
        margin: 0px 0px 8px 0px;
    }
}