$black: (
    50 : #e1e1e1,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #272727,
    500 : #010101,
    600 : #010101,
    700 : #010101,
    800 : #010101,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-gray: (
    50 : #f0f0f0,
    100 : #d8d8d8,
    200 : #bfbfbf,
    300 : #a5a5a5,
    400 : #919191,
    500 : #7e7e7e,
    600 : #767676,
    700 : #6b6b6b,
    800 : #616161,
    900 : #4e4e4e,
    A100 : #f8bdbd,
    A200 : #f38f8f,
    A400 : #ff5050,
    A700 : #ff3636,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



$gray: (
    50 : #ececed,
    100 : #cfd0d2,
    200 : #afb1b4,
    300 : #8f9295,
    400 : #777a7f,
    500 : #5f6368,
    600 : #575b60,
    700 : #4d5155,
    800 : #43474b,
    900 : #32353a,
    A100 : #94bff9,
    A200 : #64a3f6,
    A400 : #2884ff,
    A700 : #0e76ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);