$black: (
    50 : #e1e1e1,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #272727,
    500 : #010101,
    600 : #010101,
    700 : #010101,
    800 : #010101,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-gray: (
    50 : #f0f0f0,
    100 : #d8d8d8,
    200 : #bfbfbf,
    300 : #a5a5a5,
    400 : #919191,
    500 : #7e7e7e,
    600 : #767676,
    700 : #6b6b6b,
    800 : #616161,
    900 : #4e4e4e,
    A100 : #f8bdbd,
    A200 : #f38f8f,
    A400 : #ff5050,
    A700 : #ff3636,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$gray: (
    50 : #ececed,
    100 : #cfd0d2,
    200 : #afb1b4,
    300 : #8f9295,
    400 : #777a7f,
    500 : #5f6368,
    600 : #575b60,
    700 : #4d5155,
    800 : #43474b,
    900 : #32353a,
    A100 : #94bff9,
    A200 : #64a3f6,
    A400 : #2884ff,
    A700 : #0e76ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$gray-blue: (
    50 : #e4e5e6,
    100 : #bbbec0,
    200 : #8d9396,
    300 : #5f676b,
    400 : #3d474c,
    500 : #1b262c,
    600 : #182227,
    700 : #141c21,
    800 : #10171b,
    900 : #080d10,
    A100 : #54bbff,
    A200 : #21a6ff,
    A400 : #008eed,
    A700 : #007fd4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dark-blue: (
    50 : #e2eaee,
    100 : #b7c9d6,
    200 : #87a6ba,
    300 : #57829e,
    400 : #33678a,
    500 : #0f4c75,
    600 : #0d456d,
    700 : #0b3c62,
    800 : #083358,
    900 : #042445,
    A100 : #7ab1ff,
    A200 : #4793ff,
    A400 : #1475ff,
    A700 : #0067f9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$blue: (
    50 : #e6f0f6,
    100 : #c2daea,
    200 : #99c1dc,
    300 : #70a8cd,
    400 : #5195c3,
    500 : #3282b8,
    600 : #2d7ab1,
    700 : #266fa8,
    800 : #1f65a0,
    900 : #135291,
    A100 : #c4e0ff,
    A200 : #91c4ff,
    A400 : #5ea9ff,
    A700 : #459bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-blue: (
    50 : #edf0f8,
    100 : #d2dbee,
    200 : #b4c3e2,
    300 : #95aad6,
    400 : #7f98ce,
    500 : #6886c5,
    600 : #607ebf,
    700 : #5573b8,
    800 : #4b69b0,
    900 : #3a56a3,
    A100 : #f1f5ff,
    A200 : #becfff,
    A400 : #8ba9ff,
    A700 : #7296ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);